* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

}

.customize_search_container {

    width: 100%;

    background: #55b164 ;

    h1 {

        padding: 0.5rem;
        margin: 0;

        font-size: 1.9rem;
        text-align: center;
        color: white;
    }

}